Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Creating Markdown
* Creating Table with Markdown
* Arithmetic Operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas
4. PyTorch

Table of Data Science tools

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vinod Kumar Verma